<!-- {{ generated_note }} -->
<!-- {% for src in sources %}Content source: {{ src.short_title }} @ {{ src.commit[:8] }}. {% endfor %} -->

# {{ command.name }}

{{ command.description }}

{{ command.body }}
